	<menu ng-show="editor.editing === true && editor.elementID === column.id" ng-include="getPartial('ho_columnmenu.html')"></menu>
	<div ng-click="editor.activate($event, column.id);" class="{{setClassFromContent(column.attributes)}}" style="{{setStyleFromContent(column.styles)}}" data-column-id={{column.id}}>
 		<div id="ho_carousel_{{column.id}}" class="carousel" data-interval="false" data-ride="">
			<ol class="carousel-indicators">
				<li data-target="#ho_carousel_{{column.id}}" ng-repeat="slide in column.attributes.slides" data-slide-to="{{$index}}" ng-attr-class="{{$index === 0 ? 'active' : ''}}"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div ng-attr-class="{{$index === 0 ? 'item active' : 'item'}}" ng-repeat="slide in column.attributes.slides">
					<img ng-attr-src="{{slide.image_src}}" alt="Slideshow Image" />
					<div class="carousel-caption" ng-attr-contenteditable="{{editor.elementID == column.id ? 'true' : undefined}}" ng-bind-html="renderHTML(slide.content)"></div>
				</div>
			</div>
			<a class="left carousel-control" href="#ho_carousel_{{column.id}}" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
			<a class="right carousel-control" href="#ho_carousel_{{column.id}}" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
		</div>
	</div>
